[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"

[packages]
pyserial = "*"
pyyaml = ">=4.2b1"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
